/* start global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #19c8fe;
  --SecondColor: #19c8fe59;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

::selection {
  background-color: var(--mainColor);
}

ul {
  list-style-type: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-heading h2 {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  background-color: white;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: black;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading p {
  text-align: center;
  margin: 0px auto 100px;
  color: #777;
}

/* end global rules */
/* start header */
header {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 80px;
}

header .container::after {
  content: "";

  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 60px);
  bottom: 0px;
  left: 30px;
  z-index: -1;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .bar {
  color: white;
  font-size: 20px;
  display: none;
}

@media (max-width: 768px) {
  nav .bar {
    display: block;
  }

  nav .bar:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    margin-left: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  ul li a {
    padding: 15px;
  }
}

.search {
  position: relative;
  margin: auto 30px;
  width: 40px;
  height: 30px;
  border-left: #a2a2a2 1px solid;
}

.search i {
  color: white;
  position: absolute;
  padding-left: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

nav ul {
  display: flex;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}

nav a {
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-decoration: none;
  font-size: 18px;
  padding: 30px 10px;
  color: #9e9e9e;
}

nav ul li:first-child a,
nav ul li a:hover {
  color: #009688;
  border-bottom: var(--mainColor) solid 1px;
}

/* end header */
/* start landing */
.landing {
  height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing .overlay .text {
  color: white;
  position: absolute;
  left: 0px;
  top: 40%;
  width: 50%;
  background-color: #19c8fe59;
  height: 30%;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 767px) {
  .landing .overlay .text {
    width: 100%;
  }
}

.text .content {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 0px;
}

.landing .overlay .text h1 {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.7;
  font-size: 28px;
}

.overlay .text h1 + p {
  font-size: 14px;
}

.landing .fa-solid.fa-arrow-left {
  color: white;
  position: absolute;
  left: 40px;
  top: 50%;
  z-index: 1;
  font-size: 22px;
}

.landing .fa-solid.fa-arrow-right {
  color: white;
  position: absolute;
  right: 40px;
  top: 50%;
  z-index: 1;
  font-size: 22px;
}

.bullets {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.bullets li {
  margin-left: 10px;
  border: 1px solid #a2a2a2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 15px;
  height: 15px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.bullets li:nth-child(2) {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

/* end landing */
/* start services */
.services {
  padding: 100px 0px;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
}

.services .srv-box {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .services .srv-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services .srv-box .text {
    text-align: center;
  }

  .services .srv-box i {
    margin: 0 20px 20px;
  }
}

.services .srv-box i {
  margin-right: 25px;
  color: #009688;
}

.services .srv-box h2 {
  color: var(--mainColor);
  margin-bottom: 10px;
}

.services .srv-box p {
  color: #777;
}

@media (max-width: 768px) {
  .services .services-content {
    display: flex;
    flex-direction: column;
  }
}

/* end services */
/* start design */
.design {
  padding: 20px 0px;
  background-image: url(../images/design-features.jpg);
  background-size: cover;

  position: relative;
  height: 800px;
  margin-bottom: 200px;
  overflow: hidden;
}

.design .overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 35%);
  height: 100%;
  width: 100%;
  display: flex;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: space-around;
}

.design .overlay .text {
  z-index: 1;
  color: white;
  background-color: var(--SecondColor);
  width: 600px;
  height: 300px;
  position: absolute;
  right: 0px;
  padding: 35px;
}

.design .overlay img {
  position: absolute;
  bottom: -70px;
  left: 200px;
}

.design .overlay .text h2 {
  font-weight: 200;
  margin-bottom: 20px;
  font-size: 22px;
}

.design .overlay .text ul li {
  font-weight: 200;
  padding: 10px 0px;
  font-size: 18px;
}

.design .overlay .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  font-weight: 800;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .design .overlay img {
    display: none;
  }

  .design .overlay .text {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}

/* end design */
/* start portfolio*/
.portfolio {
  padding: 20px 0px;
}

.portfolio ul {
  display: flex;
  justify-content: center;
}

.portfolio ul li {
  padding: 10px 25px;
  font-weight: 500;
}

.portfolio ul li:first-child {
  background-color: var(--mainColor);
  color: white;
}

.portfolio .img-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio .box {
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .portfolio .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .portfolio .box {
    flex-basis: 25%;
  }
}

.portfolio .img-container img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.portfolio .box .text {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0px;
  background-color: white;
  bottom: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 15px;
}

.portfolio .box .text p {
  color: var(--mainColor);
}

.portfolio .box:hover .text {
  bottom: 0px;
}

.portfolio .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}

.portfolio .more {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px;
  background-color: var(--mainColor);
  color: white;
  margin: 20px auto;
  width: fit-content;
}

/* end portfolio */
/* start video */
.video {
  position: relative;
  margin: 30px 0px;
}

.video video {
  width: 100%;
}

.video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 45%);
}

.video .text {
  z-index: 1;
  position: absolute;
  background-color: var(--SecondColor);
  width: 100%;
  top: 50%;
  height: 55%;
  text-align: center;
  color: white;
  padding: 40px 0px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.video .text h2 {
  text-transform: capitalize;
  font-weight: 300;
  margin-top: 30px;
  font-size: 45px;
}

@media (max-width: 767px) {
  .video .text {
    padding: 0px;
    height: 100%;
  }

  .video .text h2 {
    font-size: 20px;
    margin-bottom: -20px;
  }
}

.video .text p {
  font-weight: 300;
  margin-top: 30px;
}

.video .text button {
  border: none;
  background-color: #777;
  padding: 15px;
  color: white;
  margin-top: 30px;
}

/* end video */
/* start about */
.about {
  padding: 30px 0px 0px;
  overflow: hidden;
}

.about img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  text-align: center;
}

@media (max-width: 768px) {
  .about img {
    bottom: -55px;
  }
}

/* end about */
/* start stats */
.stats {
  text-align: center;
  background-image: url(../images/stats.png);

  background-size: cover;
  position: relative;
  padding: 80px 25px;
}

.stats::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.637);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.stats .container {
  position: relative;
  z-index: 1;
  color: white;
  background-color: var(--SecondColor);
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.stats .container .box i {
  font-size: 20px;
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.stats .container .box .number {
  font-size: 45px;
  font-weight: 600;
}

.stats .container .box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-basis: 100%;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 991px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

/* end stats */
/* start skills */
.skills {
  padding: 45px 0px;
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills .container .testi,
.testi + .our-skills {
  flex-basis: 45%;
}

.skills .container .testi h3 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.skills .container .testi h3 + p {
  color: #777;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 40px;
}

.skills .container .testi .box img {
  border-radius: 50%;
  width: 100px;
}

.skills .container .testi .box {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.skills .container .testi .box .text {
  width: 65%;
  line-height: 1.8;
  border-bottom: #9999998a solid 1px;
  padding-bottom: 10px;
}

.skills .container .testi .box .text p {
  color: #777;
  text-align: right;
}

.skills .container .testi .bullets {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .skills .container .testi,
  .testi + .our-skills {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .skills .container .testi .box {
    flex-direction: column;
    text-align: center;
  }

  .skills .container .testi .box img {
    margin-bottom: 20px;
  }
}

.skills .container .our-skills h3 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.skills .container .our-skills h3 + p {
  color: #777;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 40px;
}

.our-skills .prog-holder h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

.our-skills .prog-holder .prog {
  width: 100%;
  background-color: #eee;
  height: 20px;
  margin-bottom: 20px;
  position: relative;
}

.our-skills .prog-holder .prog span {
  position: absolute;
  background-color: var(--mainColor);

  height: 100%;
}

.our-skills .prog-holder .prog span::after {
  position: absolute;
  content: attr(data-prog);
  right: -17px;
  background-color: black;
  width: 40px;
  height: 24px;
  color: white;
  top: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.our-skills .prog-holder .prog span::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: black 10px solid;
  right: -9px;
  border-color: black transparent transparent;
  top: -10px;
}

/* end skills */
/* start quote */
.quote {
  padding: 30px 0px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  height: 400px;
}

.quote::after {
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 43%);
}

.quote .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: white;
  z-index: 1;
}

.quote .container q {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quote .container q::after {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 700;
  margin-left: 5px;
}

.quote .container q::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: 700;
  margin-right: 5px;
}

.quote .container span {
  font-size: 13px;
}

/* end quote */
/* start pricing */
.pricing {
  padding: 30px 0px;
}

.pricing .price-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.pricing .price-container .price {
  background-color: #f8f8f8;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pricing .price-container .price:hover {
  margin-top: -10px;
}

.pricing .price-container .price h3 {
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 40px;
  border-top: 1px var(--mainColor) solid;
}

.pricing .price-container .price span {
  font-size: 70px;
  position: relative;
  font-weight: 600;
}

.pricing .price-container .price span::after {
  content: "/MO";
  position: absolute;
  font-size: 15px;
  bottom: 10px;
}

.pricing .price-container .price span::before {
  font-weight: normal;
  content: "$";
  position: absolute;
  left: -19px;
  top: 5px;
  font-size: 20px;
}

.pricing .price-container .price ul {
  border-top: var(--mainColor) 1px solid;
  border-bottom: var(--mainColor) 1px solid;
  margin-top: 40px;
}

.pricing .price-container .price ul li {
  padding: 20px;
  position: relative;
}

.pricing .price-container .price ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: var(--mainColor);
  height: 1px;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 0px;
}

.pricing .price-container .price ul + a {
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 20px;
  width: fit-content;
  display: block;
  margin: 30px auto;
  border: 1px solid var(--mainColor);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pricing .price-container + p {
  text-align: center;
  margin: 70px;
  font-size: 20px;
}

.pricing .price-container .price ul + a:hover {
  color: white;
  background-color: var(--mainColor);
}

.pricing .price-container + p + a {
  background-color: var(--mainColor);
  color: white;
  text-align: center;
  display: block;
  width: fit-content;
  margin: -20px auto 16px;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pricing .price-container + p + a:hover {
  background-color: #127b9b;
}

/* end pricing */
/* start subscribe */
.subscribe {
  position: relative;
  padding: 30px 0px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  height: 320px;
}

.subscribe::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.432);
}

.subscribe .container {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 50px;
}

.subscribe .container [type="email"] {
  background-color: transparent;
  padding: 18px 18px 18px 60px;
  width: 100%;
  border: 1px solid white;
  caret-color: var(--mainColor);
  outline: none;
  color: white;
  border-right: none;
}

.subscribe .container [type="submit"] {
  color: white;
  border: white 1px solid;
  background-color: var(--mainColor);
  padding: 18px;
  border-left: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.subscribe .container [type="submit"]:hover {
  background-color: #127b9b;
  cursor: pointer;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe .container form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 500px;
}

.subscribe .container form ::placeholder {
  color: white;
}

.subscribe .container form i {
  position: absolute;
  font-size: 20px;
  left: 20px;
}

/* end subscribe */
/* start contact */
.contact {
  padding: 50px 0px;
}

.contact .content {
  display: flex;
  gap: 30px;
}

.contact .content form ::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.contact .content form input {
  display: block;
  width: 700px;
  margin-bottom: 20px;
  border: 1px solid #99999961;
  padding: 15px;
  outline: none;
  max-width: 100%;
  caret-color: var(--mainColor);
}

.contact .content form textarea {
  display: block;
  border: 1px solid #99999961;
  max-width: 100%;
  height: 200px;
  padding: 13px;
  outline: none;
  width: 700px;
  margin-bottom: 30px;
}

.contact .content form button {
  background-color: var(--mainColor);
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 17px;
  font-size: 13px;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}
.contact .content .phone .address {
  margin-top: 50px;
}
.contact .content .phone .phone-num h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.contact .content .phone .phone-num p {
  color: #777;
  margin-bottom: 10px;
  font-size: 14px;
}
.contact .content .phone .address h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
}
.contact .content .phone .address address {
  font-size: 14px;
}
@media (max-width: 992px) {
  .contact .content {
    flex-direction: column;
  }
  .contact .content .phone {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .contact .content .phone .phone-num {
    margin-bottom: -22px;
  }
}
/* end contact */
/* start footer */
.footer {
  padding: 40px 0px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  height: 320px;
  position: relative;
  color: white;
}
.footer::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.footer .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .container a {
  margin: 40px auto 10px;
}
.footer .container p:first-of-type {
  margin: 10px auto;
  text-transform: uppercase;
  border-bottom: 2px solid #d7d7d7;
  padding: 15px 30px;
}
.footer .container .social i {
  margin: 6px 10px;
  font-size: 22px;
  color: #bbbbbb;
}
.footer .container p:last-of-type {
  position: relative;
  bottom: -50px;
}
.footer .container p:last-of-type span {
  color: var(--mainColor);
}

/* end footer */
.scroll-top
{
    position: fixed;
    z-index: 10000;
    background-color:#ff6d41;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scroll-top i{
    color: white;
}
.scroll-top:hover
{
    background-color: rgb(252, 54, 54);
}

::-webkit-scrollbar
{
   background-color: transparent;
   width: 10px;
   
}
::-webkit-scrollbar-thumb{
    background-color: #80ddfa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: absolute;
    right: 10px;
    position:absolute;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #19c8fe;
}
::-webkit-scrollbar-track
{
    background-color: #ffe1e1;
    width: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
